 .u-section-1 {
  background-position: 50% 50%;
  min-height: 778px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 778px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 778px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 50px 49px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 45px 76px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 24px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 26px 1px 0;
}

.u-section-1 .u-icon-1 {
  margin-top: 3px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-1 .u-icon-2 {
  color: #2e5472 !important;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-1 .u-icon-3 {
  margin-top: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(46, 147, 122) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(46, 147, 122) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1358px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-bottom: -298px;
  }

  .u-section-1 .u-image-1 {
    min-height: 747px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1180px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-image-1 {
    min-height: 489px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 682px;
}

.u-section-2 .u-text-1 {
  font-size: 4.0625rem;
  font-weight: 400;
  line-height: 1;
  width: 807px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 49px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1083px;
  margin: 75px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 18px) calc(25% - 18px) calc(25% - 18px) calc(25% - 18px);
  min-height: 373px;
  grid-gap: 24px 24px;
  grid-auto-columns: calc(25% - 18px);
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 19px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 58px 0 19px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 18px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 19px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 58px 0 19px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 18px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 22px 19px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 58px 0 19px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 18px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 22px 19px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 0 58px 0 19px;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 18px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
    min-height: 324px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 63px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 1px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 63px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 1px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 63px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 1px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 63px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    min-height: 969px;
    grid-auto-columns: calc(50% - 12px);
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1906px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1408px;
}

.u-section-3 .u-text-1 {
  font-size: 4.0625rem;
  line-height: 1;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 1941px;
  margin-top: 58px;
  margin-bottom: 3px;
  grid-gap: 17px 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

.u-section-3 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(46,84,114,0.7), rgba(46,84,114,0.7));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1203px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1600px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 2082px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2941px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 8515px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: -556px;
    height: 8272px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 5551px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 200px;
    margin-bottom: -249px;
    height: 5208px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 592px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 860px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: normal;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: normal;
  font-family: Oswald, sans-serif;
  margin: 10px auto 0 1px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 29px 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 25px auto 0 0;
  padding: 10px 42px 10px 40px;
}

.u-section-4 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 506px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 709px;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 417px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 963px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 265px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0 10px 15px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-btn-1 {
    padding-right: 51px;
    padding-left: 49px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 239px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1326px;
}

.u-section-5 .u-text-1 {
  width: 525px;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 619px;
  margin: 13px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 619px;
  margin: 58px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 321px;
}

.u-section-5 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-5 .u-image-1 {
  width: 239px;
  height: 239px;
  background-position: 50% 75.64%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 152px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 391px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  line-height: 2;
  margin: 13px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 399px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-5 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 31px auto 0;
}

.u-section-5 .u-text-6 {
  line-height: 2.2;
  margin: 26px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.8;
  width: 228px;
  margin: 0 auto;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    filter: brightness(0.9);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-5 .u-image-1 {
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}